.navbar {
    background: #8D0333;
}

.dted-footer {
    background: #8D0333;
    color: #FFFFFF;
}

.dted-card {
    margin-top: 50px;
    margin-bottom: 50px;
}


.dted-logo {
    margin-left: 100%;
}

.dted-card-home {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 900px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.dted-home-title {
    margin-top: 50px;
    max-width: 850px;
    color: #4F4F4F;
}

.dted-card-image {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

@media only screen and (max-width: 1000px) {
    .dted-card-image {
        display: none;
    }

    .dted-logo {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1366px) {
    .dted-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited {
    background-color: #8D0333;
}
