.navbar {
    background: #8D0333;
}

footer {
    background: #8D0333;
    color: #FFFFFF;
}

.dted-rounded {
    margin-top: 50px;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin-bottom: 50px;
}

.dted-logo {
    margin-left: 100%;
}
